version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL: ${VITE_BASE_URL}
    ports:
      - "3004:80"
    env_file:
      - .env
    restart: unless-stopped