*{
    padding: 0;
    margin: 0;
    font-family: 'InterRegular';
}
html,
body,
#root {
  width: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
}

* {
  box-sizing: border-box;
}

@font-face{
    font-family: 'InterRegular';
    src: url('../public/fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../public/fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('../public/fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url('../public/fonts/georgia.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.action_heading{
      text-align: left;
    width: 95%;
    margin: auto;
    font-size: 21px;
    color: #516b6b;
    font-family: 'Poppins';
}

.productsTable tbody tr td{
    color: #4d4e4e;
    font-size: 12px;
    font-family: 'InterRegular';
    border-bottom: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    padding: 4px 15px;
    height: 50px;

}
.productsTable tbody{
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;

}

.productsTable Thead Tr Th{
  padding: 4px 18px;
  /* border-top: 1px solid #E1E2E9; */
  border-bottom: 1px solid #e7e7e9;
  text-transform: capitalize;

}
.productsTable Thead{
  height: 52px;
  border-top: 2px solid #e6e6e6;
  border-left: 2px solid #e6e6e6;
  border-right: 2px solid #e6e6e6;
  border-radius: 8px;
}

.letter_align{
      left: 99px;
    position: absolute;
    top: 53px;
    width: 85%;
}
.offer_letter_main p{
  font-size: 14px;
}

.offer_letter_main div ul li{
  font-size: 14px;
}

#agre-letter-preview {
  width: 210mm;
}

.pdf-page {
  width: 210mm;
  height: 296mm;
  padding: 15mm;
  box-sizing: border-box;
  background: white;
  position: relative;

}
#offer-letter-preview {
  width: 210mm;
  overflow: visible;
}
.pdf-inner{
  width:100%;
  height:auto;
}
.disagr{box-sizing: border-box;
  page-break-after: always;
  break-after: page;}

.page-break {
  page-break-before: always;
}

.pdf-page:last-child {
  page-break-after: auto;
}

.letter-content{
  font-size: 14px;
 line-height: 1.7;
  /* word-break: break-word; */
  text-align: justify;
}
.watermark_img{
  position: absolute;
    opacity: 0.09;
    left: 205px;
    top: 400px;
    width: 350px;

}
.watermark_img1{
   position: absolute;
    opacity: 0.09;
    left: 205px;
    top: 380px;
    width: 350px;

}
.chakra-form__label{
  font-size: 12px !important;
  color: #494949;
  margin-bottom: 3px !important;
}
.chakra-checkbox__label{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#agre-letter-preview p{
   font-family: 'Georgia';
   color: black ;
}

  
.chakra-heading{
 line-height: 2.2 !important;
}

.css-1ebyn6{
    line-height: 2 !important;
}

.chakra-modal__header {
  line-height: 0 !important;
}

.empsalaryreporttableres{
  width: 71% !important;
}

@media (min-width: 766px) and (max-width:900px) {
  .empsalaryreporttableres{
    width: 60% !important;
  }
}


.empsalaryreporttablebodytd {
height: 50px !important;
}

.logout_btn{
    color: #4e4e4e;
    background: #ffffff;
    margin-bottom: 30px !important;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
}

.css-1w1pjt7{
  font-size: 14px !important;
    color: #464646;
}

.chakra-input{
    font-size: 14px !important;
    color: #464646;
}

.badge{
      font-size: 10px !important;
    padding: 4px 8px !important;
    border-radius: 18px !important;
}

.submit_btn{
  background: #357f94 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: white !important;
  padding: 0px 44px !important;
  border-radius: 12px !important;
  text-transform: capitalize;
}
.submit_btn:hover{
  background: #1B5A6B !important;
}

.chakra-input{
  border-color: #a7acad !important;
}

.chakra-select{
    border-color: #a7acad !important;
}

.ledger_heading{
  color: rgb(85, 85, 85) !important;
  background: #eaecf4 !important;
  padding: 3px 0px 3px 10px !important;
/* color="gray.700" bg="gray.200" padding="3px 0px 3px 10px" */
}

.ledger_box{
  background: #fbfbfb !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 6px !important;
}

.ledger_badge{
      font-size: 11px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    padding: 3px 6px !important;
    border-radius: 20px !important;
}

.material_mfg thead tr th{
  letter-spacing: 0px;
  font-size: 11px;
  padding: 10px 6px 5px 16px;
}

.material_mfg tbody tr td{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.material_mfg tbody tr td input{
  padding: 8px 6px !important;
  font-size: 14px !important;
}

.stock_transfer_table tbody tr td{
  border-bottom: none;
  padding: 9px 5px;
}

.stock_transfer_table thead tr th{
  padding: 13px 10px !important;
  font-size: 12px;
}

.purchase_invoice_table thead tr th{
  font-size: 10px;
  font-weight: 600;
  border: 1px solid #ddd;
  padding: 4px;
  font-family: serif;
}

.purchase_invoice_table tbody tr td{
  font-size: 10px;
  border: 1px solid #ddd;
  padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.font-serif p{
  font-family: serif;
  color: black;
}

.chakra-button{
  /* font-size: 14px !important; */
  font-weight: 500 !important;
}