*{
    padding: 0;
    margin: 0;
    font-family: 'InterRegular';
    overflow-x: hidden;
    box-sizing: border-box;
}

@font-face{
    font-family: 'InterRegular';
    src: url('../public/fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../public/fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('../public/fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url('../public/fonts/georgia.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.productsTable tbody tr td{
    color: #6E7079;
    font-size: 13px;
    font-family: 'InterRegular';
    border-bottom: 2px solid #f3f3f3;
    border-top: 2px solid #f3f3f3;
    padding: 4px 20px;
    height: 50px;

}
.productsTable tbody{
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}

.productsTable Thead Tr Th{
  padding: 4px 20px;
  /* border-top: 1px solid #E1E2E9; */
  border-bottom: 1px solid #E1E2E9;

}
.productsTable Thead{
  height: 54px;
}

.letter_align{
      left: 99px;
    position: absolute;
    top: 53px;
    width: 85%;
}
.offer_letter_main p{
  font-size: 14px;
}

.offer_letter_main div ul li{
  font-size: 14px;
}

/* .pdf-page {
  width: 210mm;
  height: 296mm; 
padding: 40px;
  box-sizing: border-box;  
  position: relative;
  background: white;
  overflow: hidden;  
}
.page-break {
  page-break-before: always;
  break-before: page;
} */

#agre-letter-preview {
  width: 210mm;
}

.pdf-page {
  width: 210mm;
  height: 296mm;
  padding: 15mm;
  box-sizing: border-box;
  background: white;
  position: relative;
  overflow: hidden;
}

.page-break {
  page-break-before: always;
}

.pdf-page:last-child {
  page-break-after: auto;
}

.letter-content{
  font-size: 14px;
}
.watermark_img{
  position: absolute;
    opacity: 0.09;
    left: 205px;
    top: 400px;
    width: 350px;

}
.watermark_img1{
   position: absolute;
    opacity: 0.09;
    left: 205px;
    top: 380px;
    width: 350px;

}
.chakra-form__label{
  font-size: 12px !important;
  color: #686868;
  margin-bottom: 3px !important;
}
.chakra-checkbox__label{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#agre-letter-preview p{
   font-family: 'Georgia';
   color: black ;
}

